#IDEA常用gitignore配置

out
.settings
bin
classes
target
lib
*.jar
*.classpath
*.project
*.fxbuild
*.cnf
*.iml
*.properties
.idea

java/algorithm_analysis/lab5_officeHour/.idea/workspace.xml
